body {
    margin: 0;
    padding: 0;
    overflow-y: auto; 
    font-family: Arial, sans-serif;
}

#mathCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Places the canvas behind other content */
}

.content {
    position: relative;
    z-index: 1; /* Ensures content appears above the canvas */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    height: auto; /* Makes the content container fill the viewport height */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: #333;
}

img {
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Lobster', cursive; /* Apply the custom font */
    font-size: 3em; /* Increase font size */
    color: #ff6f61; /* Choose a bold color */
    text-align: center;
    margin: 0;
    padding: 20px 0;
    background: linear-gradient(45deg, #ff6f61, #ffcc33); /* Apply a gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
}


h1 {
    animation: fadeIn 5s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.publications {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 8px;
}

.publications article {
    margin-bottom: 30px;
}

.publications h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em;
    color: #2e86de;
    margin-bottom: 10px;
}

.publications p {
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #333;
    line-height: 1.5;
}

.publications a {
    color: #ff6f61;
    text-decoration: none;
}

.publications a:hover {
    text-decoration: underline;
}

/* Navigation Bar Styling */
.navbar {
    background-color: #1e4a7d; /* Darker blue color */
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
    position: relative;
}

/* Add divider line */
.navbar ul li:not(:last-child)::after {
    content: '|';
    color: #fff; /* Color of the divider */
    margin-left: 15px;
    font-size: 1.5em;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.navbar a:hover {
    text-decoration: underline;
}
